body {
    position: relative;
    background: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 100%);
}

.f-bg {
    background: hsl(217, 28%, 15%);
    padding: 50px;
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;

}

header nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

header nav a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 100px;
}

main img {
    width: 720px;
    height: 535;
}

main h1 {
    font-weight: 700;
    width: 20em;
}

main p {
    font-weight: 400;
    width: 30em;
}

.g-start {
    background: linear-gradient(to right ,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    margin-top: 20px;
    padding: 15px 80px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.position-of-bg {
    display: flex;
    justify-content: center;
}

.desktop-bg-transition {
    width: max-content;
    position: absolute;
    top: 765px;
}

.mobile-bg-transition {
    position: absolute;
    visibility: hidden;
}

.grid-position {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.grid-components {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 80px;
    justify-content: space-between;
    width: 50em;
}

.grid-components div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-components div h1, .grid-components div p {
    color: hsl(0, 0%, 100%);
}

.grid-components div h1 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1px;
}

.grid-components div p {
    font-weight: 400;
    margin-top: 5px;
    font-size: 11px;
    padding: 0 50px;
}

.productive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.productive div {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.img-productive {
    margin: 0 50px 0 100px;
} 

.productive div h1 {
    padding: 0 300px 0 0;
    font-weight: 700;
}

.productive div p {
    margin-top: 0;
    padding: 0 130px 0 0;
    font-weight: 400;
}

.productive div a {
    display: flex;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    align-items: center;
}

.productive div div {
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.productive div hr {
    border: 1px solid hsl(176, 68%, 64%);
    width: 160px;
    margin: 0;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.bg-quotes {
    width: 55px;
    height: 45px;
    margin-right: 1160px;
}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}

.client {
    background: hsl(219, 30%, 18%);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    width: 21em;
    padding: 20px;
    box-shadow: 10px 10px 10px hsla(219, 30%, 18%, 50%);
}

.client-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    font-size: 10px;
}

.client img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.early-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.early-access .accessing {
    background: hsl(217, 28%, 15%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px hsla(216, 53%, 9%, 80%);
    border-radius: 7px;
    padding: 40px;
    width: 55em;
    margin-top: 30;
    top: 178em;
}

.early-access .accessing h1 {
    margin-top: 0;
}

.early-access .accessing p {
    margin: 0 0 30px 0;
    padding: 0 120px;
    font-size: 14px;
}

.early-access .accessing div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45.5em;
}

.early-access .accessing div .email {
    width: 35em;
    height: 3.5em;
    border-radius: 25px;
    padding: 0 0 0 30px;
    border: none;
}

.early-access .accessing div .email:focus {
    outline: none;
}

.early-access .accessing div .g-start {
    margin-top: 0;
    padding: 14px 35px;
    font-size: 13px;
}

footer {
    background: hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    padding: 120px 100px;
    margin-top: 25em;
}

footer a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

footer div .logo {
    width: 176px;
    height: 52px;
}

footer .ffooter {
    margin-top: 100px;
}

footer .ffooter .fffooter {
    display: flex;
    justify-content: space-between;
    width: 70em;
}

footer .ffooter .fffooter .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

}

footer .ffooter .fffooter .location img {
    margin-right: 10px;
}

footer .ffooter .fffooter .location p {
    margin: 0;
    width: 350px;
}

footer .ffooter .fffooter ul {
    list-style: none;
}

footer .ffooter .fffooter .contacts, footer .ffooter .fffooter .more, footer .ffooter .fffooter .more2 {
    margin-top: 0;
}

footer .ffooter .fffooter .contacts li img {
    margin-right: 15px;
}

footer .ffooter .fffooter li {
    margin-top: 15px;
}

.attribution { 
    font-size: 11px; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 700px) {

    .f-bg {
        padding: 25px;
    }

    .desktop-bg-transition {
        display: none;
    }

    .mobile-bg-transition {
        visibility: visible;
        top: 350px;
    }

    span {
        position: absolute;
        width: 100%;
        height: 300px;
        top: 445px;
        background: hsl(218, 28%, 13%);
    }

    header nav {
        justify-content: space-between;
        width: 180px;
    }

    .logo {
        width: 100px;
    }

    .f-bg header a {
        font-size: 14px;
    }

    main .intro-image {
      width: 320px;
      height: 240px;  
    }

    main h1 {
        width: 14em;
        font-size: 25px;
    }

    main p {
        width: 21em;
    }

    .grid-components div p {
        font-size: 12px;
        padding: 0 100px;
    }

    .productive {
        flex-direction: column;
    }

    .img-productive {
        width: 300px;
    }

    .productive div {
        justify-content: center;
        align-items: center;
        width: 25em;
    }

    .productive div h1 {
        font-size: 22px;
        padding: 0;
    }
    
    .productive div p {
        width: 24em;
        padding: 0;
    }
    
    .productive div div {
        margin-right: 220px;
    } 
    
    .bg-quotes {
        width: 45px;
        height: 40px;
        margin-right: 310px;
    }
    
    .clients {
        flex-direction: column;
        align-items: center;
        width: 480px;
        height: 700px;
    }
    
    .client {
        box-shadow: 0 0 15px hsla(219, 30%, 18%, 50%);
    }
    
    .early-access .accessing {
        width: 18em;
        top: 219em;
    }
    
    .early-access .accessing h1 {
        font-size: 17px;
    }
    
    /* .early-access .accessing div {} */
    
    .early-access .accessing p {
        padding: 0;
    }
    
    .early-access .accessing div {
        flex-direction: column;
        height: 7em;
        width: 15em;
    }
    
    .early-access .accessing div .email {
        width: 20em;
        height: 3.5em;
    }    
    
    .early-access .accessing div .g-start {
        padding: 15px 45px;
        width: 16em;
    }

    footer {
        padding: 120px 50px;
    }
    
    footer div .logo {
    }
    
    footer .ffooter {
    }
    
    footer .ffooter .fffooter {
        flex-direction: column;
        align-items: start;
        width: 20em;
    }
    
    footer .ffooter .fffooter .location img {
        margin-right: 25px;
    }
    
    footer .ffooter .fffooter .location p {
        width: 290px;
    }
    
    footer .ffooter .fffooter ul {
        padding: 0;
    }

    footer .ffooter .fffooter .contacts {
        margin: 0 0 50px 0;
    }
    
    
    .attribution { 
        text-align: center; 
    }
}
